In [3]:
import pandas as pd
import glob
import os
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt

Importing plotly failed. Interactive plots will not work.

In [4]:
data = pd.read_csv("/home/m-joaopr/demo/concat/data.csv")

In [2]:
data = pd.concat(map(pd.read_csv, glob.glob("/home/m-joaopr/demo/data/2018*.csv")))
data.head()

,id,date,input_0,input_1,input_2,input_3,input_4_1,input_5_1,input_6_1,input_7_1,...,output_7_6,output_8_6,output_9_6,output_10_6,output_11_6,output_12_6,output_13_6,output_14_6,output_15_6,output_16_6
0,49372,2018-10-01,42,0,7,21,1.327951,-0.424862,0.473151,-0.085038,...,0.001790,1.815926,-0.119836,-0.049835,0.205529,1.906445,-0.254916,-0.628731,-0.650725,-0.484602
1,49424,2018-10-01,42,1,7,21,0.106541,-0.424862,-0.096660,-0.659831,...,-0.371625,-0.255257,-0.413475,-0.420007,0.013185,0.669649,-0.254916,-0.628731,-0.650725,-0.484602
2,49476,2018-10-01,42,2,7,21,-0.613375,-0.424862,-0.666470,-0.659831,...,-0.745040,-0.669493,-0.707115,-0.790178,-0.611931,-0.628987,-0.254916,-0.628731,-0.650725,-0.484602
3,49528,2018-10-01,42,3,7,21,-0.770638,-0.424862,-0.666470,-0.659831,...,-0.745040,-0.669493,-0.707115,-0.790178,-0.948532,-0.752667,-0.254916,-0.628731,-0.650725,-0.484602
4,52633,2018-10-01,60,0,110,104,1.642477,-0.237400,0.139438,-0.598374,...,-0.023962,0.741571,-0.110715,-0.170999,0.237357,0.905375,-0.123881,-0.649766,-0.474604,-0.545014

In [5]:
data.describe()

,id,input_0,input_1,input_2,input_3,input_4_1,input_5_1,input_6_1,input_7_1,input_8_1,...,output_7_6,output_8_6,output_9_6,output_10_6,output_11_6,output_12_6,output_13_6,output_14_6,output_15_6,output_16_6
count,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,...,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000,28720.000000
mean,35046.008287,148.620474,1.500000,110.411421,83.685655,0.058418,-0.007555,0.012730,0.025622,0.015400,...,-0.035029,-0.050780,-0.080046,0.009797,0.012391,0.017614,-0.022121,-0.049390,-0.027229,-0.064746
std,20326.175041,86.519930,1.118053,60.943198,44.016245,1.048218,0.924956,1.000630,1.027008,1.015167,...,0.939482,0.910741,0.792713,0.975298,0.967723,0.972980,1.012422,0.883880,0.935407,0.853327
min,21.000000,0.000000,0.000000,0.000000,0.000000,-0.863248,-0.484791,-0.794355,-0.783135,-0.681004,...,-0.913482,-0.869692,-0.795489,-1.129985,-1.146638,-1.071996,-0.339690,-0.815409,-0.808997,-0.653893
25%,17311.750000,74.000000,0.750000,58.000000,45.000000,-0.744427,-0.352420,-0.607343,-0.614719,-0.526712,...,-0.611010,-0.583048,-0.409923,-0.675579,-0.684597,-0.638430,-0.232678,-0.582064,-0.581206,-0.470637
50%,35098.500000,148.000000,1.500000,114.000000,89.000000,-0.391459,-0.206138,-0.502987,-0.508512,-0.420530,...,-0.424803,-0.433325,-0.178409,-0.413937,-0.418740,-0.391001,-0.117900,-0.433351,-0.429202,-0.381353
75%,52568.250000,223.000000,2.250000,165.000000,126.000000,0.611530,-0.021371,0.314218,0.328142,0.175274,...,0.120447,0.130079,-0.049993,0.448751,0.475913,0.420266,-0.054554,0.107308,0.046287,-0.151762
max,70468.000000,299.000000,3.000000,214.000000,143.000000,7.559063,38.192498,11.166512,10.362209,10.783770,...,7.729900,11.253028,44.619978,10.520759,6.616590,8.120980,64.193698,8.090021,6.461558,14.917640

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28720 entries, 0 to 28719
Columns: 7860 entries, id to output_16_6
dtypes: float64(7854), int64(5), object(1)
memory usage: 1.7+ GB

In [7]:
data.shape

(28720, 7860)

In [8]:
data.isnull().any().sum()

0

In [7]:
data.fillna(0, inplace=True)

In [8]:
data.isnull().any().sum()

0

In [9]:
data.shape

(28720, 7860)

In [10]:
#data.to_csv('/home/m-joaopr/demo/concat/data.csv',index=False)

In [11]:
inputs = data.columns[data.columns.str.contains("input")]
inputs

Index(['input_0', 'input_1', 'input_2', 'input_3', 'input_4_1', 'input_5_1',
       'input_6_1', 'input_7_1', 'input_8_1', 'input_9_1',
       ...
       'input_547_14', 'input_548_14', 'input_549_14', 'input_550_14',
       'input_551_14', 'input_552_14', 'input_553_14', 'input_554_14',
       'input_555_14', 'input_556_14'],
      dtype='object', length=7746)

In [13]:
data.drop(columns=["id"])

ax = sns.heatmap(data, cmap='RdYlGn_r',
                 robust=True,
                 fmt='.2f',
                 annot=True,
                 linewidths=.5,
                 annot_kws={'size':11},
                 cbar_kws={'shrink':.8,
                           'label':'Precipitation(mm)'})                       
    
ax.set_yticklabels(ax.get_yticklabels(), rotation=0, fontsize=10)
ax.set_xticklabels(ax.get_xticklabels(), rotation=0, fontsize=10)
plt.title('Average Precipitations', fontdict={'fontsize':18},    pad=14);